<header class="jumbotron">
  <div class="container">
    <h1>{{ site.title }}</h1>
    <p>{{ site.subtitle }}</p>
    <p>
      {% assign last_release = site.github.releases | sort: 'created_at' | last %}
      <strong>Latest release:</strong>
      <a href="{{ last_release.html_url }}">{{ last_release.name }}</a>
      ({{ last_release.created_at | date: '%B %d, %Y'}})
    </p>
    <p>
      <a href="{{ site.github.repository_url }}" class="btn btn-primary">
        <span class="fa fa-github"></span> View on GitHub
      </a>
    </p>
  </div>
</header>
